{% extends 'base.html' %}
{% block content %}

<h1>Shoe Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ shoe.name }}</span>
        <p>Name: {{ shoe.name }}</p>
        <p>Brand: {{ shoe.brand }}</p>
        <p>Description: {{ shoe.description }}</p>
        <p>Gender: {{ shoe.gender }}</p>
        <p>Size: {{ shoe.size }}</p>
        <p>Color: {{ shoe.color }}</p>
        <p>Price: {{ shoe.price }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
        <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
      </div>
    </div>
    {% for photo in shoe.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}" alt="shoe photo">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' shoe.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>  
  </div>
  <div class="col s6">
    <form action="{% url 'add_wore' shoe.id %}" method="POST">
      {% csrf_token %}
      {{ wore_form.as_p }}
      <input type="submit" class="btn" value="Add to Collection">
    </form>
    <br>
    {% if shoe.wore_status %}
      <div class="card-panel teal-text center-align">{{shoe.name}} status is up to date</div>
    {% else %}
      <div class="card-panel red-text center-align">{{shoe.name}} has no status in your collection</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Shoe Status</th></tr>
      </thead>
      <tbody>
        {% for wore in shoe.wore_set.all %}
          <tr>
            <td>{{wore.date}}</td>
            <td>{{wore.get_status_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ shoe.name }}'s Occasions</h3>
    {% if shoe.occasions.count %}
      {% for occasion in shoe.occasions.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="activity: {{ occasion.activity }}">{{ occasion.activity }}</span> 
              <br>
              Activity: {{ occasion.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_occasion' shoe.id occasion.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Occasions :(</h5>
    {% endif %}
  </div>
  <!-- Available occasions will come after this line -->
  <div class="col s6">
    <h3>Available Occasions</h3>
    {% if occasions.count %}
      {% for occasion in occasions.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="activity: {{ occasion.activity }}">{{ occasion.activity }}</span> 
              <br>
              Activity: {{ occasion.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_occasion' shoe.id occasion.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{shoe.name}} Already Has All Occasions Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}